<!DOCTYPE html>
<html>
<head>
        <title>Indian Restaurant</title>
</head>
        <body>
                <center>
               <div>
               <h5 style="color: green;">ABOUT US:</h5>
                SERVICE 24 * 7<br>
                <h6 style="color: rgb(215, 47, 128);"><b>Contact Details:<b></h6>
                Mobile No: +91 8007833956 <br>
                Email Address:<h6 style="color: rgb(222, 46, 49);"> indianrestaurant@gmail.com</h6>
               </div>
               </center>
        </body>
    
</html>